.addBookButton {
    height: 50px;
    background: #5757eb;
    position: relative;
    cursor: pointer;
}

.addBookButton img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
}