.rating {
    border: none;
    float: left;
    width: fit-content;
}

.rating>label {
    color: #90A0A3;
    float: right;
}

.rating>label:before {
    cursor: pointer;
    margin: 5px;
    font-size: 2em;
    content: "★";
    display: inline-block;
}

.rating>input {
    display: none;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #F79426;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: #FECE31;
}

.wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border: 1px solid white;
    background: black;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.wrapper .inputs {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    flex-basis: 80%;
}

.wrapper textarea {
    font-size: 16px;
    min-height: 100px;
}

.wrapper .inputs button {
    text-align: center;
}